{{ form.media }}

{% macro form_field(field, rich=false) %}
  {% set hso_field_display = field.name in form.hso_only_field_names and respects_rule('is_admin_or_hso') %}
  {% set non_hso_field_display = field.name not in form.hso_only_field_names %}
  {% if (hso_field_display or non_hso_field_display) %}
    <div class="row g-3 form-group mb-3">
      <div class="col-lg-3">
        <div>
          <div class="d-inline">{{ field.label_tag(attrs={'class': 'col col-form-label', 'aria-label': field.label }) }}</div>
          {% if field.name in form.hso_only_field_names %}
            <sm class="h6 text-secondary"> <span class="badge bg-success">{{ tm("hso_only") }}</span></sm>
          {% endif %}
        </div>
      </div>
      <div class="col-lg-9">
        {% if rich %}
          {{ field|safe }}
        {% else %}
          {{ field }}
        {% endif %}
      </div>
    </div>
  {% endif %}
 
{% endmacro %}

{% macro hidden_a11y_label(form_field, prefix) %}
  <label for="{{ form_field.id_for_label }}"
         class="visually-hidden"
         aria-label="{{ prefix }}, {{ form_field.label }}">
  </label>
{% endmacro %}

{% macro fieldset_field(field, helptext=None) %}
  <fieldset class="row g-3 form-group mb-3">
    <div class="col-lg-2">
      <div class="row">
        <fieldset>
          <legend class="col col-form-label" style="font-size:1rem">
            {{ field.label }}
          </legend>
        </fieldset>
      </div>
      {% if helptext %}<div class="small-text subtext col col-form-label">{{ helptext }}</div>{% endif %}
    </div>
    <div class="col-lg-10">{{ field }}</div>
  </fieldset>
{% endmacro %}

<form method="POST" action=".">
  {{ csrf_input }}

  <div class="card my-4 hideable-card">
    <h5 class="card-header">{{ tm("indicator_information") }}</h5>
    <div class="card-body">
      {{ form_field(form.name) }}
      {{ form_field(form.category) }}
      {{ form_field(form.topic) }}
      {{ form_field(form.detailed_indicator) }}
      {{ form_field(form.sub_indicator_measurement) }}
      {{ fieldset_field(form.relevant_dimensions, helptext=tm("not_published_just_a_convenience_factor_to_filter_in_app_choices") ) }}
      {{ fieldset_field(form.relevant_period_types, helptext=tm("not_published_just_a_convenience_factor_to_filter_in_app_choices") ) }}
    </div>
  </div>
 
  <div class="card my-4 hideable-card">
    <h5 class="card-header">{{ tm("general_metadata") }}</h5>
    <div class="card-body">
      {{ form_field(form.measure_text) }}
      {{ form_field(form.title_overall) }}
      {{ form_field(form.table_title_overall) }}
      {{ form_field(form.impact_text, rich=true) }}
      {{ form_field(form.general_footnotes, rich=true) }}
      {{ form_field(form.main_source_english, rich=true) }}
      {{ form_field(form.other_relevant_sources_english, rich=true) }}
      {{ form_field(form.recommendations_for_hso, rich=true) }}
    </div>
  </div>

  <div class="card my-4 hideable-card">
    <h5 class="card-header">{{ tm("sex_metadata") }}</h5>
    <div class="card-body">
      {{ form_field(form.title_sex) }}
      {{ form_field(form.table_title_sex) }}
      {{ form_field(form.title_sex_2) }}
      {{ form_field(form.table_title_sex_2) }}
    </div>
  </div>

  <div class="card my-4 hideable-card">
    <h5 class="card-header">{{ tm("age_metadata") }}</h5>
    <div class="card-body">
      {{ form_field(form.title_age) }}
      {{ form_field(form.table_title_age) }}
      {{ form_field(form.title_age_2) }}
      {{ form_field(form.table_title_age_2) }}
    </div>
  </div>

  <div class="card my-4 hideable-card">
    <h5 class="card-header">{{ tm("province_metadata") }}</h5>
    <div class="card-body">
      {{ form_field(form.title_province_territory) }}
      {{ form_field(form.table_title_province_territory) }}
      {{ form_field(form.title_province_territory_2) }}
      {{ form_field(form.table_title_province_territory_2) }}
      {{ form_field(form.pt_dynamic_text) }}
    </div>
  </div>

  <div class="card my-4 hideable-card">
    <h5 class="card-header">{{ tm("living_arrangement_metadata") }}</h5>
    <div class="card-body">
      {{ form_field(form.title_living_arrangement) }}
      {{ form_field(form.table_title_living_arrangement) }}
    </div>
  </div>

  <div class="card my-4 hideable-card">
    <h5 class="card-header">{{ tm("education_household_metadata") }}</h5>
    <div class="card-body">
      {{ form_field(form.title_education_household) }}
      {{ form_field(form.table_title_education_household) }}
    </div>
  </div>

  <div class="card my-4 hideable-card">
    <h5 class="card-header">{{ tm("income_quintiles_metadata") }}</h5>
    <div class="card-body">
      {{ form_field(form.title_income_quintiles) }}
      {{ form_field(form.table_title_income_quintiles) }}
    </div>
  </div>

  <div class="card my-4 hideable-card">
    <h5 class="card-header">{{ tm("trend_analysis_metadata") }}</h5>
    <div class="card-body">
      {{ form_field(form.title_trend) }}
      {{ form_field(form.table_title_trend) }}
      {{ form_field(form.visual_description_trend) }}
      {{ form_field(form.x_axis_trend) }}
      {{ form_field(form.y_axis_trend) }}
      {{ form_field(form.trend_footnotes, rich=true) }}
    </div>
  </div>

  <div class="card my-4 hideable-card">
    <h5 class="card-header">{{ tm("benchmarking_metadata") }}</h5>
    <div class="card-body">
      {{ form_field(form.title_benchmark) }}
      {{ form_field(form.table_title_benchmark) }}
      {# {{ form_field(form.benchmarking_legend) }} #}
      {{ form_field(form.x_axis_benchmark) }}
      {{ form_field(form.benchmarking_footnotes, rich=true) }}
      {{ form_field(form.benchmarking_sources_english, rich=true) }}
    </div>
  </div>

  <div class="card my-4 hideable-card">
    <h5 class="card-header">
      {{ tm("quintile_metadata") }} <span class="badge bg-success">{{ tm("hso_only") }}</span>
    </h5>
    <div class="card-body">
      <p class="my-2">{{ tm("quintile_metadata_description") }}</p>
      <table class="table" style="overflow-x:auto; display:block">
        <thead>
          <tr class="text-center">
            <th>{{ tm("quintile") }}</th>
            <th>{{ vb_name('cpho.Indicator', 'g1') }}</th>
            <th>{{ vb_name('cpho.Indicator', 'g2_lower') }}</th>
            <th>{{ vb_name('cpho.Indicator', 'g2_upper') }}</th>
            <th>{{ vb_name('cpho.Indicator', 'g3_lower') }}</th>
            <th>{{ vb_name('cpho.Indicator', 'g3_upper') }}</th>
            <th>{{ vb_name('cpho.Indicator', 'g4_lower') }}</th>
            <th>{{ vb_name('cpho.Indicator', 'g4_upper') }}</th>
            <th>{{ vb_name('cpho.Indicator', 'g5') }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% set row_name = tm('quintile_values') %}
            <td class='text-center'>
              {{ row_name }}
            </td>
            <td>
              <div class="form-group mb-3">
                {{ form.g1 }}
              </div>
              {{ hidden_a11y_label(form.g1, row_name) }}
            </td>
            <td>
              <div class="form-group mb-3">
                {{ form.g2_lower }}
              </div>
              {{ hidden_a11y_label(form.g2_lower, row_name) }}
            </td>
            <td>
              <div class="form-group mb-3">
                {{ form.g2_upper }}
              </div>
              {{ hidden_a11y_label(form.g2_upper, row_name) }}
            </td>
            <td>
              <div class="form-group mb-3">
                {{ form.g3_lower }}
              </div>
              {{ hidden_a11y_label(form.g3_lower, row_name ,) }}
            </td>
            <td>
              <div class="form-group mb-3">
                {{ form.g3_upper }}
              </div>
              {{ hidden_a11y_label(form.g3_upper, row_name) }}
            </td>
            <td>
              <div class="form-group mb-3">
                {{ form.g4_lower }}
              </div>
              {{ hidden_a11y_label(form.g4_lower, row_name) }}
            </td>
            <td>
              <div class="form-group mb-3">
                {{ form.g4_upper }}
              </div>
              {{ hidden_a11y_label(form.g4_upper, row_name) }}
            </td>
            <td>
              <div class="form-group mb-3">
                {{ form.g5 }}
              </div>
              {{ hidden_a11y_label(form.g5, row_name) }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <input type="submit"
         class="btn btn-primary mt-4 float-end"
         value="{{ tm("submit") }}"/>
</form>
