<div class="dropdown">
  <button class="btn btn-outline-dark dropdown-toggle"
          type="button"
          id="dropdown{{ loop_index }}"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          onclick="last_clicked_button=this;">
    {{ tdt('Actions') }}
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdown{{ loop_index }}">
    <li>
      <a class="dropdown-item"
         href="{{ url('view_indicator', args=[indicator.pk]) }}">
        <i class="bi bi-database-add"></i>
        {{ tdt('Edit Stratifier Data') }}
      </a>
    </li>
    <li>
      <a class="dropdown-item"
         href="{{ url('edit_indicator', args=[indicator.pk]) }}">
        <i class="bi bi-pen"></i>
        {{ tdt('Edit Indicator Details') }}
      </a>
    </li>
  </ul>
</div>
