
{% set data_entered_percent = 0 %}
{% set program_approved_percent = 0 %}
{% set hso_approved_percent = 0 %}
{% if submission_statuses['global_status'] in ['not_yet_submitted', 'modified_since_last_submission'] %}
  {% set data_entered_percent = 100 %}
{% elif submission_statuses['global_status'] == 'program_submitted' %}
  {% set data_entered_percent = 100 %}
  {% set program_approved_percent = 100 %}
{% elif submission_statuses['global_status'] == 'submission_up_to_date' %}
  {% set data_entered_percent = 100 %}
  {% set program_approved_percent = 100 %}
  {% set hso_approved_percent = 100 %}
{% endif %}

{% if metadata_submission %}
  {% set data_entered_div_id = indicator.id|string + "-data-entered" %}
  {% set program_approved_div_id = indicator.id|string + "-program-approved" %}
  {% set hso_approved_div_id = indicator.id|string + "-hso-approved" %}
{% else %}
  {% set data_entered_div_id = indicator.id|string + "-" + period.code|string + "-data-entered" %}
  {% set program_approved_div_id = indicator.id|string + "-" + period.code|string + "-program-approved" %}
  {% set hso_approved_div_id = indicator.id|string + "-" + period.code|string + "-hso-approved" %}
{% endif %}

<div class='row mt-1 gx-2 {% if not progress_in_table %}mb-4{% endif %}'>
  <div class="col-md-4 col-sm-12">
    <div class="progress" style="height:0.75rem">
      <div class="progress-bar bg-warning progress-data-entered"
           role="progressbar"
           style="width: {{ data_entered_percent }}%"
           aria-valuenow="{{ data_entered_percent }}"
           aria-valuemin="0"
           aria-valuemax="100"
           aria-labelledby="{{ data_entered_div_id }}"></div>
    </div>
    <div class="d-flex justify-content-center {% if not progress_in_table %}mt-1 fw-bold{% endif %}">
      <div id="{{ data_entered_div_id }}">{{ tm("data_entered") }}</div>
      {% if not progress_in_table %}
        <div tabindex="0"
             aria-label="{{ tm("more_info") }}"
             data-bs-placement="bottom"
             data-bs-toggle="tooltip"
             data-bs-title="{{ tm("data_currently_in_database_but_not_approved_by_program_or_hso_data_is_not_made_visible_through_the_api_for_infobase_until_approved_by_program_and_then_hso_data_modified_after_approval_is_also_treated_similarly") }}">
          <div class="bi bi-info-circle px-2" aria-hidden="true"></div>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <div class="progress" style="height:0.75rem">
      <div class="progress-bar bg-info progress-program-approved"
           role="progressbar"
           style="width: {{ program_approved_percent }}%"
           aria-valuenow="{{ program_approved_percent }}"
           aria-valuemin="0"
           aria-valuemax="100"
           aria-labelledby="{{ program_approved_div_id }}"></div>
    </div>
    <div class="d-flex justify-content-center {% if not progress_in_table %}mt-1 fw-bold{% endif %}">
      <div id="{{ program_approved_div_id }}">{{ tm("program_submitted") }}</div>
      {% if not progress_in_table %}
        <div tabindex="0"
             aria-label="{{ tm("more_info") }}"
             data-bs-placement="bottom"
             data-bs-toggle="tooltip"
             data-bs-title="{{ tm("program_approved_expl") }}">
          <div class="bi bi-info-circle px-2" aria-hidden="true"></div>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <div class="progress" style="height:0.75rem">
      <div class="progress-bar bg-success progress-hso-approved"
           role="progressbar"
           style="width: {{ hso_approved_percent }}%"
           aria-valuenow="{{ hso_approved_percent }}"
           aria-valuemin="0"
           aria-valuemax="100"
           aria-labelledby="{{ hso_approved_div_id }}"></div>
    </div>
    <div class="d-flex justify-content-center {% if not progress_in_table %}mt-1 fw-bold{% endif %}">
      <div id="{{ hso_approved_div_id }}">{{ tm("submitted_by_program_and_hso") }}</div>
      {% if not progress_in_table %}
        <div tabindex="0"
             aria-label="{{ tm("more_info") }}"
             data-bs-placement="bottom"
             data-bs-toggle="tooltip"
             data-bs-title="{{ tm("submitted_by_program_and_hso") }}">
          <div class="bi bi-info-circle px-2" aria-hidden="true"></div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
