
{% set data_entered_percent = 0 %}
{% set program_approved_percent = 0 %}
{% set hso_approved_percent = 0 %}
{% if submission_statuses['global_status'] in ['not_yet_submitted', 'modified_since_last_submission'] %}
  {% set data_entered_percent = 100 %}
{% elif submission_statuses['global_status'] == 'program_submitted' %}
  {% set data_entered_percent = 100 %}
  {% set program_approved_percent = 100 %}
{% elif submission_statuses['global_status'] == 'submission_up_to_date' %}
  {% set data_entered_percent = 100 %}
  {% set program_approved_percent = 100 %}
  {% set hso_approved_percent = 100 %}
{% endif %}

<div class='row mt-1 gx-2 {% if not progress_in_table %}mb-4{% endif %}'>
  <div class="col-md-4 col-sm-12">
    <div class="progress" style="height:0.75rem">
      <div class="progress-bar bg-warning progress-data-entered"
           role="progressbar"
           style="width: {{ data_entered_percent }}%"
           aria-valuenow="{{ data_entered_percent }}"
           aria-valuemin="0"
           aria-valuemax="100"
           aria-labelledby="{{ indicator.id }}-{{ period.code }}-data-entered">
      </div>
    </div>
    <div class="d-flex justify-content-center {% if not progress_in_table %}mt-1 fw-bold{% endif %}">
      <div id="{{ indicator.id }}-{{ period.code }}-data-entered">{{ tdt("Data entered") }}</div>
      {% if not progress_in_table %}
        <div tabindex="0"
             aria-label="{{ tdt('More info') }}"
             data-bs-placement="bottom"
             data-bs-toggle="tooltip"
             data-bs-title="{{ tdt("Data currently in database but not approved by program or HSO. Data is not made visible through the API (for infobase) until approved by program and then HSO. Data modified after approval is also treated similarly") }}">
          <div class="bi bi-info-circle px-2" aria-hidden="true"></div>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <div class="progress" style="height:0.75rem">
      <div class="progress-bar bg-info progress-program-approved"
           role="progressbar"
           style="width: {{ program_approved_percent }}%"
           aria-valuenow="{{ program_approved_percent }}"
           aria-valuemin="0"
           aria-valuemax="100"
           aria-labelledby="{{ indicator.id }}-{{ period.code }}-program-approved">
      </div>
    </div>
    <div class="d-flex justify-content-center {% if not progress_in_table %}mt-1 fw-bold{% endif %}">
      <div id="{{ indicator.id }}-{{ period.code }}-program-approved">{{ tdt("Program Approved") }}</div>
      {% if not progress_in_table %}
        <div tabindex="0"
             aria-label="{{ tdt('More info') }}"
             data-bs-placement="bottom"
             data-bs-toggle="tooltip"
             data-bs-title="{{ tdt("Data is approved by program only. At this point is is not made visible through the API (for infobase) until HSO approves it.") }}">
          <div class="bi bi-info-circle px-2" aria-hidden="true"></div>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <div class="progress" style="height:0.75rem">
      <div class="progress-bar bg-success progress-hso-approved"
           role="progressbar"
           style="width: {{ hso_approved_percent }}%"
           aria-valuenow="{{ hso_approved_percent }}"
           aria-valuemin="0"
           aria-valuemax="100"
           aria-labelledby="{{ indicator.id }}-{{ period.code }}-hso-approved">
      </div>
    </div>
    <div class="d-flex justify-content-center {% if not progress_in_table %}mt-1 fw-bold{% endif %}">
      <div id="{{ indicator.id }}-{{ period.code }}-hso-approved">{{ tdt("HSO approved") }}</div>
      {% if not progress_in_table %}
        <div tabindex="0"
             aria-label="{{ tdt('More info') }}"
             data-bs-placement="bottom"
             data-bs-toggle="tooltip"
             data-bs-title="{{ tdt("Data is approved by both program and HSO and has not been modified after obtaining approvals. At this point is is made available through the API (for infobase)") }}">
          <div class="bi bi-info-circle px-2" aria-hidden="true"></div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
