<div>
  <span class="fw-bold">
    <div>
      {{ tm("hso_submission") }}:</span> {{ submission_status_badge(submission_statuses['hso_global_status']) }}
    </div>
    <span class="fw-bold">
      <div>
        {{ tm("program_submission") }}:</span> {{ submission_status_badge(submission_statuses['program_global_status']) }}
      </div>
    </div>
