<div class="fw-bold">
  <div>{{ tm("hso_submission") }} {{ submission_status_badge(submission_statuses['hso_global_status']) }}</div>
  <div>{{ tm("program_submission") }} {{ submission_status_badge(submission_statuses['program_global_status']) }}</div>
</div>
