{% extends 'base.jinja2' %}
{% import 'breadcrumb_macros.jinja2' as bc %}

{% block content_breadcrumbs %}
  {{ bc.indicators_index() }}
  {{ bc.item(tdt("Create new indicator") , None, True) }}
{% endblock %}

{% block content %}
  <div class="h2">{{ tdt("Create New Indicator") }}</div>
  {% include 'indicators/_indicator_form.jinja2' %}
{% endblock %}
