{% extends 'base.jinja2' %}

{% block content %}
  <div class="h2">{{ tm("site_title") }}</div>

  <div class="my-4">
    {% if respects_rule('can_create_indicator') %}
      <a href='{{ url("create_indicator") }}' class="btn btn-primary">{{ tm("create_new_indicator") }}</a>
    {% endif %}
    {% if respects_rule('can_use_indicator_upload') %}
      <a href='{{ url("upload_indicator") }}' class="btn btn-primary">{{ tm("upload_indicator") }}</a>
    {% endif %}
  </div>
  {% if user_indicator_directories %}
    <div class="alert alert-info my-4">
      <p class="h3">{{ tm("indicator_groups") }}</p>
      <p>{{ tm("you_have_access_to_the_following_indicator_groups") }}</p>
      <ul>
        {% for directory in user_indicator_directories %}
          <li>
            <a href='{{ url("indicator_directory_home", args=[directory.pk]) }}'>{{ directory.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>{{ tm("indicator_name") }}</th>
          <th>{{ tm("category") }}</th>
          <th>{{ tm("topic") }}</th>
          <th width="15%">{{ tm("action") }}</th>
        </tr>
      </thead>
      <tbody>
        {% for indicator in object_list %}
          {% if respects_rule('can_access_indicator', indicator) %}
            <tr>
              <td>{{ indicator.name }}</td>
              <td>{{ indicator.get_category_display() }}</td>
              <td>{{ indicator.get_topic_display() }}</td>
              <td>
                <a class="btn btn-outline-dark"
                   href="{{ url('view_indicator', args=[indicator.pk]) }}">{{ tm("view_indicator") }}</a>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
