{% extends 'base.jinja2' %}
{% block content %}

  <div class="h2 mb-3">{{ tdt("Indicator file upload") }}</div>

  <button type="button mt-5"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#expectedColumnModal">
    {{ tdt("View expected column names") }}
  </button>
 
  <form action="{{ url("upload_indicator") }}"
        method="post"
        enctype="multipart/form-data"
        onsubmit="openLoader()"
        class="form-horizontal mt-3">
 
    {{ csrf_input }}
    <div>
      {{ form.csv_file }}
      <div class="row">
        <div id="submit-btn-div" class="form-group">
          <input type="submit"
                 id="submit-btn"
                 class="btn btn-primary mt-3 float-end"
                 value="{{ tdt("Upload") }}">
        </div>
        <div id="loadingModal" style="display: none;">
          <button class="btn btn-primary mt-3 float-end" type="button" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            {{ tdt("Uploading") }}
          </button>
        </div>
      </div>
    </div>
  </form>

 
  {% if form.csv_file.errors %}<div class="my-2 error-div">{{ form.csv_file.errors }}</div>{% endif %}

  <div class="modal fade modal-xl"
       id="expectedColumnModal"
       tabindex="-1"
       aria-labelledby="expectedColumnModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="expectedColumnModalLabel">{{ tdt("Expected column names") }}</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            {{ tdt("Please upload a .csv file containing the following column names. Note that the column names are case sensitive") }}
          </p>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>{{ tdt("Expected column names") }}</th>
                <th>{{ tdt("Descriptions") }}</th>
                <th>{{ tdt("Possible values") }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ tdt("Indicator") }}</td>
                <td>{{ tdt("Indicator name") }}</td>
                <td>{{ tdt("Open text field") }}</td>
              </tr>
              <tr>
                <td>{{ tdt("Detailed Indicator") }}</td>
                <td>{{ tdt("Detailed indicator name") }}</td>
                <td>{{ tdt("Open text field") }}</td>
              </tr>
              <tr>
                <td>{{ tdt("Sub_Indicator_Measurement") }}</td>
                <td>{{ tdt("Sub indicator measurement") }}</td>
                <td>{{ tdt("Open text field") }}</td>
              </tr>
              <tr>
                <td>{{ tdt("Category") }}</td>
                <td>{{ tdt("Category") }}</td>
                <td>
                  <ul>
                    <li>{{ tdt("FACTORS INFLUENCING HEALTH") }}</li>
                    <li>{{ tdt("HEALTH OUTCOMES") }}</li>
                    <li>{{ tdt("GENERAL HEALTH STATUS") }}</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>{{ tdt("Topic") }}</td>
                <td>{{ tdt("Topic") }}</td>
                <td>
                  <ul>
                    <li>{{ tdt("SOCIAL FACTORS") }}</li>
                    <li>{{ tdt("HEALTH STATUS") }}</li>
                    <li>{{ tdt("COMMUNICABLE DISEASES") }}</li>
                    <li>{{ tdt("SUBSTANCE USE") }}</li>
                    <li>{{ tdt("CHILDHOOD AND FAMILY FACTORS") }}</li>
                    <li>{{ tdt("CHILDHOOD AND FAMILY RISK FACTORS") }}</li>
                    <li>{{ tdt("CHRONIC DISEASES AND MENTAL HEALTH") }}</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>{{ tdt("Data_Quality") }}</td>
                <td>{{ tdt("Quality of data") }}</td>
                <td>
                  <ul>
                    <li>{{ tdt("CAUTION") }}</li>
                    <li>{{ tdt("GOOD") }}</li>
                    <li>{{ tdt("ACCEPTABLE") }}</li>
                    <li>{{ tdt("SUPPRESSED") }}</li>
                    <li>{{ tdt("VERY GOOD") }}</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>{{ tdt("Value") }}</td>
                <td>{{ tdt("Vlue Recorded") }}</td>
                <td>{{ tdt("Open number field (allows decimals)") }}</td>
              </tr>
              <tr>
                <td>{{ tdt("Value_LowerCI") }}</td>
                <td>{{ tdt("Vlue lower bound") }}</td>
                <td>{{ tdt("Open number field (allows decimals)") }}</td>
              </tr>
              <tr>
                <td>{{ tdt("Value_UpperCI") }}</td>
                <td>{{ tdt("Vlue upper bound") }}</td>
                <td>{{ tdt("Open number field (allows decimals)") }}</td>
              </tr>
              <tr>
                <td>{{ tdt("SingleYear_TimeFrame") }}</td>
                <td>{{ tdt("Single Year Timeframe") }}</td>
                <td>{{ tdt("Open text field YYYY") }}</td>
              </tr>
              <tr>
                <td>{{ tdt("MultiYear_TimeFrame") }}</td>
                <td>{{ tdt("Multi Year TimeFrame") }}</td>
                <td>{{ tdt("Open text field YYYY-YYYY") }}</td>
              </tr>
              <tr>
                <td>{{ tdt("Value_Unit") }}</td>
                <td>{{ tdt("Value unit") }}</td>
                <td>
                  <ul>
                    <li>{{ tdt("Age-Standardized Rate") }}</li>
                    <li>{{ tdt("Crude Rate") }}</li>
                    <li>{{ tdt("Defined Daily Dose/1,000 Census") }}</li>
                    <li>{{ tdt("Percentage") }}</li>
                    <li>{{ tdt("Percentage (Crude Rate)") }}</li>
                    <li>{{ tdt("Rate per 10,000 Patient Days") }}</li>
                    <li>{{ tdt("Rate per 100,000") }}</li>
                    <li>{{ tdt("Rate per 100,000 (Crude Rate)") }}</li>
                    <li>{{ tdt("Rate per 100,000 Live Births") }}</li>
                    <li>{{ tdt("Years") }}</li>
                    <li>{{ tdt("Other") }}</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>{{ tdt("Value_Displayed") }}</td>
                <td>{{ tdt("Value Displayed") }}</td>
                <td>
                  <ul>
                    <li>{{ tdt("%") }}</li>
                    <li>{{ tdt("Per 1,000 census inhabitants") }}</li>
                    <li>{{ tdt("Per 10,000 patient days") }}</li>
                    <li>{{ tdt("Per 100,000") }}</li>
                    <li>{{ tdt("Per 100,000 live births") }}</li>
                    <li>{{ tdt("Years") }}</li>
                    <li>{{ tdt("Other") }}</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>{{ tdt("Pt_Data_Availability") }}</td>
                <td>{{ tdt("Pt Data Avalability") }}</td>
                <td>
                  <ul>
                    <li>{{ tdt("%") }}</li>
                    <li>{{ tdt("Available") }}</li>
                    <li>{{ tdt("Suppressed") }}</li>
                    <li>{{ tdt("Not available") }}</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>{{ tdt("Data_Quality") }}</td>
                <td>{{ tdt("Data Quality") }}</td>
                <td>
                  <ul>
                    <li>{{ tdt("Caution") }}</li>
                    <li>{{ tdt("Acceptable") }}</li>
                    <li>{{ tdt("Good") }}</li>
                    <li>{{ tdt("Suppressed") }}</li>
                    <li>{{ tdt("Very Good")}}</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>{{ tdt("Dimension_Type") }}</td>
                <td>{{ tdt("Dimension of data recorded") }}</td>
                <td>
                  <ul>
                    <li>{{ tdt("Province") }}</li>
                    <li>{{ tdt("Gender") }}</li>
                    <li>{{ tdt("Region") }}</li>
                    <li>{{ tdt("Sex") }}</li>
                    <li>{{ tdt("Canada") }}</li>
                    <li>{{ tdt("Age Group") }}</li>
                  </ul>
                </td>
              </tr>
 
              <tr>
                <td>{{ tdt("Dimension_Value") }}</td>
                <td>{{ tdt("Specification of dimension recorded") }}</td>
                <td>
                  <div class="d-flex flex-row bd-highlight mb-3">
                    <div class="p-2 border">
                      {{ tdt("Province:") }}
                      <ul>
                        <li>{{ tdt("ON") }}</li>
                        <li>{{ tdt("AB") }}</li>
                        <li>{{ tdt("SK") }}</li>
                        <li>{{ tdt("MB") }}</li>
                        <li>{{ tdt("BC") }}</li>
                        <li>{{ tdt("QC") }}</li>
                        <li>{{ tdt("NB") }}</li>
                        <li>{{ tdt("NS") }}</li>
                        <li>{{ tdt("NL") }}</li>
                        <li>{{ tdt("PE") }}</li>
                        <li>{{ tdt("NU") }}</li>
                        <li>{{ tdt("NT") }}</li>
                        <li>{{ tdt("YT") }}</li>
                      </ul>
                    </div>
                    <div class="p-2 border">
                      {{ tdt("Gender:") }}
                      <ul>
                        <li>{{ tdt("MEN") }}</li>
                        <li>{{ tdt("WOMEN") }}</li>
                        <li>{{ tdt("BOYS") }}</li>
                        <li>{{ tdt("GIRLS") }}</li>
                      </ul>
                    </div>
                    <div class="p-2 border">
                      {{ tdt("Region:") }}
                      <ul>
                        <li>{{ tdt("ATLANTIC") }}</li>
                        <li>{{ tdt("PRAIRIE") }}</li>
                        <li>{{ tdt("TERRITORIES") }}</li>
                      </ul>
                    </div>
                    <div class="p-2 border">
                      {{ tdt("Sex:") }}
                      <ul>
                        <li>{{ tdt("MALES") }}</li>
                        <li>{{ tdt("FEMALES") }}</li>
                      </ul>
                    </div>
                    <div class="p-2 border">
                      {{ tdt("Canada:") }}
                      <ul>
                        <li>{{ tdt("CANADA") }}</li>
                      </ul>
                    </div>
                    <div class="p-2 border">
                      {{ tdt("Age Group:") }}
                      <ul>
                        <li>{{ tdt("Open Text Field") }}</li>
                      </ul>
                    </div>
                  </td>
                </div>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    function openLoader() {
      document.getElementById("submit-btn").disabled = true;
      document.getElementById("submit-btn-div").style.display = "none";
      document.getElementById("loadingModal").style.display = "block";
      }
  </script>
 
{% endblock %}
