{% extends 'base.jinja2' %}
{% block content %}
  <div class="h2">{{ tdt("Indicator Selected: ") }} {{ object.name }} {{ period }}</div>

  <div class="mt-4">
    <div class="mt-5">
      {% for dimension_type in dimension_types %}
        <div>
          <div class="row">
            <div class="card col-8 mt-2">
              <div class="card-body row">
                <div class="col-5 h5">{{ tdt("Manage data for ") }} {{ dimension_type.name }}</div>
                <div class="col-3"></div>
                <div class="col-2 text-center">
                  <a href="{{ url('manage_indicator_data', args=[object.id, period.id, dimension_type.id]) }}">{{ tdt("Edit") }}</a>
                </div>
                <div class="col-2 text-center">
                  {{ approval_statuses['statuses_by_dimension_type_id'][dimension_type.id] or "no data" }}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <div>
        <div class="row">
          <div class="card col-8 mt-2">
            <div class="card-body row">
              <div class="col-5 h5">{{ tdt("Manage data for ") }} {{ tdt("All") }}</div>
              <div class="col-3"></div>
              <div class="col-2 text-center">
                <a href="{{ url('manage_indicator_data_all', args=[object.id, period.id]) }}">{{ tdt("Edit") }}</a>
              </div>
              <div class="col-2"></div>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
