{% extends 'base.jinja2' %}
{% import 'breadcrumb_macros.jinja2' as bc %}

{% block content_breadcrumbs %}
  {{ bc.indicators_index() }}
  {{ bc.indicator(indicator,True) }}
{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
      <div class="h2">{{ tdt("Indicator Selected: ") }} {{ indicator.name }}</div>
      <div class="col-md-2 mt-4">
        <div>
          {% if respects_rule('can_edit_indicator', indicator) %}
 
            <a href="{{ url('edit_indicator', args=[indicator.id]) }}"
               class="btn w-100 btn-outline-dark my-1">
              <i class="bi bi-pen"></i>
              {{ tdt("Edit indicator") }}
            </a>
          {% endif %}
        </div>
        <div>
          {% if respects_rule('can_view_indicator_data', indicator) %}
            <a href="{{ url('indicator_scoped_changelog', args=[indicator.id]) }}"
               class="btn w-100 btn-outline-dark my-1">
              <i class="bi bi-file-diff"></i>
              {{ tdt("Indicator changelog") }}
            </a>
          {% endif %}
        </div>
        <div>
          <a href="{{ url("upload_indicator") }}"
             class="btn w-100 btn-outline-dark my-1">
            <i class="bi bi-file-earmark-arrow-up"></i>
            {{ tdt("Upload data") }}
          </a>
        </div>
        <div>
          <a href="{{ url('export_indicator', args=[indicator.id]) }}"
             class="btn w-100 btn-outline-dark my-1">
            <i class="bi bi-file-earmark-arrow-down"></i>
            {{ tdt("Export data") }}
          </a>
        </div>
      </div>
      <div class="col-md-10">
        <div class="mt-4">
          {% if respects_rule('can_view_indicator_data', indicator) %}
            <div class='card my-4'>
              <div class="card-header h3">{{ tdt("Periods with data") }}</div>
              <div class="card-body">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>{{ tdt("Period") }}</th>
                      <th>{{ tdt("Data Count") }}</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for period,data_count in data_counts_by_period.items() %}
                      {% if data_count > 0 %}
                        <tr>
                          <th>{{ period }}</th>
                          <td>{{ data_count }}</td>
                          <td>
                            <a href="{{ url('view_indicator_for_period', args=[indicator.id, period.pk]) }}">{{ tdt("See/Edit data") }}</a>
                          </td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          {% endif %}
          {% if respects_rule('can_view_indicator_data', indicator) %}
            <div class="h3">{{ tdt("Add data for new periods") }}</div>
            <div>
              <ul>
                {% for period,data_count in data_counts_by_period.items() %}
                  {% if data_count == 0 %}
                    <li>
                      <a href="{{ url('view_indicator_for_period', args=[indicator.id, period.pk]) }}">{{ tdt("Add data for ") }} {{ period }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
 

 
  </div>
{% endblock %}
