# Virtual environment
**/venv

# Cache
**/__pycache__/

# Django
**/staticfiles

# environment variables (only allow .env.dev-public, no other env files)
**/.env*
!**/.env.dev-public

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and PDM
**/__pypackages__/

**/.pdm.toml

# Frontend build
frontend/build/
 
runserver.sh
/notes.md

**/logfile

**/.coverage

server/logfile

server/postgres.env

# Pulumi deploy scripts
**/node_modules
