# Virtual environment
**/venv

# Cache
**/__pycache__/

# Django
**/staticfiles

# environment variables (only allow .env.dev, no other env files)
**/.env*
!**/.env.dev

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and PDM
**/__pypackages__/

**/.pdm.toml

# Frontend build
frontend/build/
 
runserver.sh
/notes.md

**/logfile

server/logfile
