{% extends 'base.jinja2' %}
{% from 'changelog/changelog_macros.jinja2' import changelog_table %}


{% block content %}

  <h1>{{ tm("global_changelog") }}</h1>
  <style>{% include 'changelog/_changelog_styles.css' %}</style>

  {{ changelog_table(edit_entries,True) }}
  {% include "changelog/_changelog_pagination.jinja2" %}



{% endblock %}
