main {
    min-height: 85vh;
}

footer {
    width: 100%;
}

.navbar h1 {
    color: white;
    margin: 0;
    margin-right: 5px;
}

.navbar a.dropdown-item,
.navbar a.dropdown-toggle {
    text-decoration: none;
}

h1 abbr {
    text-decoration: none !important;
    border-bottom: none;
}

.error-div {
    background: #f8d7da;
    color: #842029;
    border-radius: 10px;
    min-height: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    margin: 5px;
}

.approved-tag>i {
    color: green;
    font-size: 70%;
}

.approved-tag>span {
    font-size: 70%;
}

.approved-tag {
    display: inline-block;
    background-color: #d4edda;
    color: #155724;
    border-radius: 5px;
    padding: 0rem 0.1rem;
    border: 2px solid #0c3816;
    margin: 1px;
}

td:has(>.error-display)>input {
    border: 2px solid #75070c;

}

td:has(>.error-display)>select {
    border: 2px solid #75070c;

}

div.error-preview {
    background: #ffe0e2;
    color: #842029;
    border-radius: 10px;
    padding: 5px;
}

td.error-preview {
    background-color: #ffe0e2;
    color: #842029;
    padding: 5px;
}

.error-msg {
    color: #842029;
    background-color: #f8abb2;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    font-size: 80%;
}

a.disabled {
    pointer-events: none;
    color: #ccc;
}

span.new-ind-tag {
    display: inline-block;
    background-color: #d4edda;
    color: #155724;
    border-radius: 5px;
    padding: 0rem 0.1rem;
    border: 2px solid #0c3816;
    margin: 1px;
    font-size: 90%;
}

.django-ckeditor-widget {
    width: 100%;
}

.badge.bg-info {
    color: #000;
}

.badge.bg-warning {
    color: #000;
}

.small-text {
    font-size: 0.8em;
}

.subtext {
    opacity: 0.75;
}

.hideable-card {
    display: none;
}

.hideable-card:has(label) {
    display: block;
}

.hideable-card {
    display: none;
}

.hideable-card:has(label) {
    display: block;
}

.width-15 {
    width: 15%
}

.width-55 {
    width: 55%
}

.width-30 {
    width: 30%
}

.width-10 {
    width: 10%
}

.width-9 {
    width: 9%
}

.width-5 {
    width: 5%
}



.form-control,
.form-select,
.phac_aspc_form_autocomplete.phac_aspc_form_autocomplete {
    border-color: #8594A3;
}


.btn:focus,
.form-select:focus,
.form-control:focus,
.phac_aspc_form_autocomplete_focus_ring.active,
a:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus {
    outline-offset: 0.125rem;
    border-color: #0535d2;
    box-shadow: 0 0 0 0.125rem white;
    outline-color: rgb(5, 53, 210);
    outline-style: solid;
    outline-width: 0.25rem;
}
