main {
    min-height: 85vh;
}

footer {
    position: static;
    bottom: 0rem;
    width: 100%;
    height: 3rem;
}

#footer-placeholder {
    height: 3rem;
}

.navbar h1 {
    color: white;
    margin: 0;
    margin-right: 5px;
}

.navbar a.dropdown-item,
.navbar a.dropdown-toggle {
    text-decoration: none;
}

h1 abbr {
    text-decoration: none !important;
    border-bottom: none;
}

.error-div {
    background: #f8d7da;
    color: #842029;
    border-radius: 10px;
}

.approved-tag>i {
    color: green;
    font-size: 70%;
}

.approved-tag>span {
    font-size: 70%;
}

.approved-tag {
    display: inline-block;
    background-color: #d4edda;
    color: #155724;
    border-radius: 5px;
    padding: 0rem 0.1rem;
    border: 2px solid #0c3816;
    margin: 1px;




}
