{% extends 'base.jinja2' %}
{% from 'generic_macros.jinja2' import date_display %}

{% block content %}
  <a href="{{ url('root') }}" class="btn btn-warning">{{ tm("back") }}</a>

  <h1>{{ tm("indicator_group") }}: {{ indicator_directory.name }}</h1>
  <div>
    <p>{{ tm("you_are_in_indicator_group_expl") }}</p>
  </div>


  <div class="my-4">
    {% if indicator_directory.description %}
      <div>{{ tm("description") }} : {{ indicator_directory.description }}</div>
    {% endif %}

    <p class="h5">{{ tm("indicators") }}</p>
    <ul>
      {% for indicator in indicator_directory.indicators.all() %}
        <li>
          <a href="{{ url('view_indicator',args=[indicator.pk]) }}">{{ indicator }}</a>
        </li>
      {% endfor %}
    </ul>


    <p class="h5">{{ tm("users") }}</p>
    <div class="table-responsive">

      <table class="table table-striped">
        <thead>
          <th>{{ tm("user") }}</th>
          <th>{{ tm("last_login") }}</th>
        </thead>
        <tbody>
          {% for user in indicator_directory.users.all() %}
            <tr>
              <td>{{ user }}</td>
              <td>
                {% if user.last_login %}
                  {{ date_display(user.last_login) }}
                {% else %}
                  {{ tm("never") }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <details class="border rounded p-3" {% if form.errors %}open{% endif %}>
    <summary class="fw-bold">{{ tm("add_new_user") }}</summary>
    <form method="post">
      {% include '_standard_form.jinja2' %}

      <div class="text-end">

        <input type="submit" value="{{ tm('save') }}" class="btn btn-success" />
      </div>
    </form>
  </details>

{% endblock %}
