{% extends 'base.jinja2' %}
{% from 'cpho_macros.jinja2' import check_error, check_error_class %}
{% block content %}

  {% macro td_with_error_class(datum, field) %}
    <td class="{{ check_error_class(datum, field).strip() }}">
      {{ datum[field] }}
      {{ check_error(datum, field) }}
    </td>
  {% endmacro %}

  <form id='upload-form'
        class="mt-4"
        onsubmit="showLoading()"
        hx-post="{{ url("save_upload") }}">
    <button id="upload-btn"
            class="btn btn-primary"
            type="submit"
            {% if not no_errors %}disabled{% endif %}>
      {{ tm("upload_data") }}
    </button>
    <a href="{{ url("list_indicators") }}" class="btn btn-danger">{{ tm("cancel") }}</a>
  </form>

  <div id="status-div" class="d-none">
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    <span>{{ tm("uploading_data") }}</span>
  </div>

  <div class="mt-4">
    {% if not no_errors %}<p class="text-danger">{{ tm("errors_in_file_please_review") }}</p>{% endif %}
    <p>{{ tm("upload_preview_expl") }}</p>
  </div>
 
 
  {% for indicator in grouped_data %}
    <div class='mt-5 card'>
      <div class="card-header">
        <div class="h5">
          {{ tm("indicator") }} : {{ indicator[0] }}
          {% if grouped_data[indicator][0]["new_indicator"] %}<span class="new-ind-tag">{{ tm("new") }}</span>{% endif %}
        </div>
 

      </div>
      <div class=" card-body">

        {{ (check_error(grouped_data[indicator][0], "Indicator") ) }}
 

        <div class="p">
          <span class="fw-bold">{{ tm("detailed_indicator") }}</span> : {{ indicator[1] }}
        </div>
 
        <div class="p">
          <span class="fw-bold">{{ tm("sub_indicator_measurement") }}</span> : {{ indicator[2] }}
        </div>

        <div class="p {{ check_error_class(grouped_data[indicator][0], 'Category').strip() }}">
          <span class="fw-bold">{{ tm("category") }}</span> : {{ indicator[3] }}
          {{ (check_error(grouped_data[indicator][0], "Category") ) }}
        </div>

        <div class="p {{ check_error_class(grouped_data[indicator][0], 'Topic').strip() }}">
          <span class="fw-bold">{{ tm("topic") }}</span> : {{ indicator[4] }}
          {{ check_error(grouped_data[indicator][0], "Topic") }}
        </div>

        <div class="table-container mt-2" style="overflow-x: auto;">
 
          <table class="table table-hover">
            <thead>
              <tr>
                <th>{{ tm("row_number") }}</th>
                <th>{{ tm("dimension_type") }}</th>
                <th>{{ tm("dimension_value") }}</th>
                <th>{{ tm("data_quality") }}</th>
                <th>{{ tm("value") }}</th>
                <th>{{ tm("data_lower_ci") }}</th>
                <th>{{ tm("data_upper_ci") }}</th>
                <th>{{ tm("single_year_timeframe") }}</th>
                <th>{{ tm("multi_year_timeframe") }}</th>
                <th>{{ tm("value_unit") }}</th>
                <th>{{ tm("value_displayed") }}</th>
                <th>{{ tm("reason_for_null_data") }}</th>
                <th>{{ tm("period") }}</th>
                <th>{{ tm("arrow_flag") }}</th>
              </tr>
            </thead>
 
            <tbody>
              {% for datum in grouped_data[indicator] %}
                <tr>
                  <td>{{ datum["line"] }}</td>
                  {{ td_with_error_class(datum, "Dimension_Type") }}
                  {{ td_with_error_class(datum, "Dimension_Value") }}
                  {{ td_with_error_class(datum, "Data_Quality") }}
                  {{ td_with_error_class(datum, "Value") }}
                  {{ td_with_error_class(datum, "Value_LowerCI") }}
                  {{ td_with_error_class(datum, "Value_UpperCI") }}
                  {{ td_with_error_class(datum, "SingleYear_TimeFrame") }}
                  {{ td_with_error_class(datum, "MultiYear_TimeFrame") }}
                  {{ td_with_error_class(datum, "Value_Units") }}
                  {{ td_with_error_class(datum, "Value_Displayed") }}
                  {{ td_with_error_class(datum, "Reason_for_Null_Data") }}
                  {{ td_with_error_class(datum, "Period") }}
                  {{ td_with_error_class(datum, "Arrow_Flag") }}
                </tr>
              {% endfor %}
            </tbody>
          </table>
 
        </div>
      </div>
    </div>
  {% endfor %}

  <script>
    function showLoading() {
      document.getElementById("upload-btn").disabled = true;
      document.getElementById("upload-form").classList.add("d-none");
      document.getElementById("status-div").classList.remove("d-none");
    }
  </script>
 

{% endblock %}
