{% extends 'base.jinja2' %}
{% block content %}

  <a href="#" hx-post="{{ url("save_upload") }}" class="btn btn-primary">{{ tdt("Confirm") }}</a>
  <a href='' class="btn btn-danger">{{ tdt("Cancel") }}</a>


  {% for indicator in grouped_data %}
    <div class='mt-5 card'>
      <div class="card-header">
        <div class="h5">{{ tdt("Indicator") }} : {{ indicator[0] }}</div>
 
      </div>

      <div class=" card-body">
        <div class="p">
          <span class="fw-bold">{{ tdt("Detailed Indicator") }}</span> : {{ indicator[1] }}
        </div>
        <div class="p">
          <span class="fw-bold">{{ tdt("Sub Indicator Measurement") }}</span> : {{ indicator[2] }}
        </div>
        <div class="p">
          <span class="fw-bold">{{ tdt("Category") }}</span> : {{ indicator[3] }}
        </div>
        <div class="p">
          <span class="fw-bold">{{ tdt("Topic") }}</span> : {{ indicator[4] }}
        </div>

        <div class="table-container mt-2">
 
          <table class="table table-hover ">
            <thead>
              <tr>
                <th>{{ tdt("Line#") }}</th>
                <th>{{ tdt("Dimension Type") }}</th>
                <th>{{ tdt("Dimension Value") }}</th>
                <th>{{ tdt("Data Quality") }}</th>
                <th>{{ tdt("Value") }}</th>
                <th>{{ tdt("Value LowerCI") }}</th>
                <th>{{ tdt("Value UpperCI") }}</th>
                <th>{{ tdt("SingleYear TimeFrame") }}</th>
                <th>{{ tdt("MultiYear TimeFrame") }}</th>
                <th>{{ tdt("Value Unit") }}</th>
                <th>{{ tdt("Value Displayed") }}</th>
                <th>{{ tdt("Reason for Null Data") }}</th>
                <th>{{ tdt("Period") }}</th>
              </tr>
            </thead>
 
            <tbody>
              {% for datum in grouped_data[indicator] %}
                <tr>
                  <td>{{ datum["line"] }}</td>
                  <td>{{ datum["Dimension_Type"] }}</td>
                  <td>{{ datum["Dimension_Value"] }}</td>
                  <td>{{ datum["Data_Quality"] }}</td>
                  <td>{{ datum["Value"] }}</td>
                  <td>{{ datum["Value_LowerCI"] }}</td>
                  <td>{{ datum["Value_UpperCI"] }}</td>
                  <td>{{ datum["SingleYear_TimeFrame"] }}</td>
                  <td>{{ datum["MultiYear_TimeFrame"] }}</td>
                  <td>{{ datum["Value_Units"] }}</td>
                  <td>{{ datum["Value_Displayed"] }}</td>
                  <td>{{ datum["Reason_for_Null_Data"] }}</td>
                  <td>{{ datum["Period"] }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
 
        </div>
      </div>
    </div>
  {% endfor %}
 

{% endblock %}
