{% extends 'base.jinja2' %}
{% block content %}

  <div class="h2 mb-3">{{ tdt("Indicator file upload") }}</div>

  <p>{{tdt("Please ensure that only CSV files are uploaded. Click the 'View expected column names' button to review the expected input format. For a convenient data input process, consider 'Download a template file' to fill in your data or upload exported indicators after making necessary adjustments.")}}</p>

  <div class="mt-2">
    <button type="button mt-5"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#expectedColumnModal">{{ tdt("View expected column names") }}</button>
 
    <a class="btn btn-primary" href="{{ url("export_indicator_template") }}">{{ tdt("Download a file template") }}</a>
  </div>
  
  <form action="{{ url("upload_indicator") }}"
        method="post"
        enctype="multipart/form-data"
        onsubmit="openLoader()"
        class="form-horizontal mt-3">
 
    {{ csrf_input }}
    <div>
      {{ form.csv_file }}
      <div class="row">
        <div id="submit-btn-div" class="form-group">
          <input type="submit"
                 id="submit-btn"
                 class="btn btn-primary mt-3 float-end"
                 value="{{ tdt("Preview file data") }}">
        </div>
      </div>
      <div id="loadingModal" class="d-none mt-3 float-end">
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        <span>{{ tdt("Getting data ready for preview") }}</span>
      </div>
    </div>
  </form>
 
  {% if form.csv_file.errors %}<div class="my-2 error-div">{{ form.csv_file.errors }}</div>{% endif %}

  {% include 'indicators/upload/upload_help_modal.jinja2' %}
  <script>
    function openLoader() {
      document.getElementById("submit-btn").disabled = true;
      document.getElementById("submit-btn-div").classList.add("d-none");
      document.getElementById("loadingModal").classList.remove("d-none");
      }
  </script>
 
{% endblock %}
