{% extends 'base.jinja2' %}
{% block content %}

  <div class="h2 mb-3">{{ tm("upload_indicator") }}</div>

  <p>{{ tm("only_csv_expl") }}</p>

  <div class="mt-2">
    <button type="button mt-5"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#expectedColumnModal">{{ tm("view_expected_column_names") }}</button>
 
    <a class="btn btn-primary" href="{{ url("export_indicator_template") }}">{{ tm("download_a_file_template") }}</a>
  </div>
 
  <form action="{{ url("upload_indicator") }}"
        method="post"
        enctype="multipart/form-data"
        onsubmit="openLoader()"
        class="form-horizontal mt-3">
 
    {{ csrf_input }}
    <div>
      {{ form.csv_file }}
      <div class="row">
        <div id="submit-btn-div" class="form-group">
          <input type="submit"
                 id="submit-btn"
                 class="btn btn-primary mt-3 float-end"
                 value="{{ tm("preview_file_data") }}">
        </div>
      </div>
      <div id="loadingModal" class="d-none mt-3 float-end">
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        <span>{{ tm("getting_data_ready_for_preview") }}</span>
      </div>
    </div>
  </form>
 
  {% if form.csv_file.errors %}<div class="my-2 error-div">{{ form.csv_file.errors }}</div>{% endif %}

  {% include 'indicators/upload/upload_help_modal.jinja2' %}
  <script>
    function openLoader() {
      document.getElementById("submit-btn").disabled = true;
      document.getElementById("submit-btn-div").classList.add("d-none");
      document.getElementById("loadingModal").classList.remove("d-none");
      }
  </script>
 
{% endblock %}
