<div class="modal fade modal-xl"
     id="expectedColumnModal"
     tabindex="-1"
     aria-labelledby="expectedColumnModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" style="max-width: 90%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="expectedColumnModalLabel">{{ tm("expected_column_names") }}</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body" style="overflow-x:auto">
        <p>{{ tm("upload_using_csv_file_expl") }}</p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>{{ tm("expected_column_names") }}</th>
              <th>{{ tm("descriptions") }}</th>
              <th>{{ tm("possible_values") }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Indicator</td>
              <td>{{ tm("indicator") }}</td>
              <td>{{ tm("open_text_field") }}</td>
            </tr>
            <tr>
              <td>Detailed indicator</td>
              <td>{{ tm("detailed_indicator") }}</td>
              <td>{{ tm("open_text_field") }}</td>
            </tr>
            <tr>
              <td>Sub_Indicator_Measurement</td>
              <td>{{ tm("sub_indicator_measurement") }}</td>
              <td>{{ tm("open_text_field") }}</td>
            </tr>
            <tr>
              <td>{{ tm("category") }}</td>
              <td>Category</td>
              <td>
                <ul>
                  {% for key in mapper["category_mapper"] %}
                    {% if key != "" %}<li>{{ key }}</li>{% endif %}
                  {% endfor %}
                </ul>
              </td>
            </tr>
            <tr>
              <td>Topic</td>
              <td>{{ tm("topic") }}</td>
              <td>
                <ul>
                  {% for key in mapper["topic_mapper"] %}
                    {% if key != "" %}<li>{{ key }}</li>{% endif %}
                  {% endfor %}
                </ul>
              </td>
            </tr>
            <tr>
              <td>Data_Quality</td>
              <td>{{ tm("data_quality") }}</td>
              <td>
                <ul>
                  {% for key in mapper["data_quality_mapper"] %}
                    {% if key != "" %}<li>{{ key }}</li>{% endif %}
                  {% endfor %}
                </ul>
              </td>
            </tr>
            <tr>
              <td>Arrow_Flag</td>
              <td>{{ tm("arrow_flag") }}</td>
              <td>
                <ul>
                  {% for key in mapper["arrow_flag_mapper"] %}
                    {% if key != "" %}<li>{{ key }}</li>{% endif %}
                  {% endfor %}
                </ul>
              </td>
            </tr>
            <tr>
              <td>Value</td>
              <td>{{ tm("value") }}</td>
              <td>{{ tm("open_number_field_allows_decimals") }}</td>
            </tr>
            <tr>
              <td>Value_LowerCI</td>
              <td>{{ tm("data_lower_ci") }}</td>
              <td>{{ tm("open_number_field_allows_decimals") }}</td>
            </tr>
            <tr>
              <td>Value_UpperCI</td>
              <td>{{ tm("data_upper_ci") }}</td>
              <td>{{ tm("open_number_field_allows_decimals") }}</td>
            </tr>
            <tr>
              <td>SingleYear_TimeFrame</td>
              <td>{{ tm("single_year_timeframe") }}</td>
              <td>{{ tm("yyyy") }}</td>
            </tr>
            <tr>
              <td>MultiYear_TimeFrame</td>
              <td>{{ tm("multi_year_timeframe") }}</td>
              <td>{{ tm("yyyy_yyyy") }}</td>
            </tr>
            <tr>
              <td>Value_Units</td>
              <td>{{ tm("unit") }}</td>
              <td>
                <ul>
                  {% for key in mapper["value_unit_mapper"] %}
                    {% if key != "" %}<li>{{ key }}</li>{% endif %}
                  {% endfor %}
                </ul>
              </td>
            </tr>
            <tr>
              <td>Value_Displayed</td>
              <td>{{ tm("value_displayed") }}</td>
              <td>
                <ul>
                  {% for key in mapper["value_displayed_mapper"] %}
                    {% if key != "" %}<li>{{ key }}</li>{% endif %}
                  {% endfor %}
                </ul>
              </td>
            </tr>
            <tr>
              <td>Reason_for_Null_Data</td>
              <td>{{ tm("reason_for_null_data") }} {{ tm("default_is_empty") }}</td>
              <td>
                <ul>
                  {% for key in mapper["reason_for_null_mapper"] %}
                    {% if key != "" %}<li>{{ key }}</li>{% endif %}
                  {% endfor %}
                </ul>
              </td>
            </tr>
            <tr>
              <td>Dimension_Type</td>
              <td>{{ tm("dimension_type") }}</td>
              <td>
                <ul>
                  {% for key in mapper.get_dimension_type_mapper_dict() %}
                    {% if key != "" %}<li>{{ key }}</li>{% endif %}
                  {% endfor %}
                </ul>
              </td>
            </tr>
            <tr>
              <td style="max-width:1px">Dimension_Value</td>
              <td style="max-width:1px">{{ tm("dimension_value") }}</td>
              <td style="max-width:100px">
                <div>
                  <div class="table table-responsive ">
                    <table class="table-bordered table-sm">
                      <tr>
                        {% for dimension in mapper.get_dimension_type_mapper_dict() %}<th>{{ dimension }}</th>{% endfor %}
                        <th>{{ tm("age_group") }}</th>
                      </tr>
                      <tr>
                        {% for dimension in mapper.get_dimension_type_mapper_dict() %}
                          <td class="align-top">
                            <ul>
                              {% for dim_val in mapper.get_non_literal_dimension_mapper_dict_by_dimension_type()[dimension] %}
                                <li>{{ dim_val }}</li>
                              {% endfor %}
                            </ul>
                          </td>
                        {% endfor %}
                        <td class="align-top">{{ tm("open_text_field") }}</td>
                      </tr>
                    </table>
                  </div>

                </td>
              </div>
            </tr>
            <tr>
              <td>Period</td>
              <td>{{ tm("period") }}</td>
              <td>
                <div class="row">
                  <div class="col-4">
                    <ul>
                      {% for key in mapper.get_all_periods_dict() %}<li>{{ key }}</li>{% endfor %}
                    </ul>
                  </div>
                  <div class="col-8">
                    <span class="fw-bold">{{ tm("legend") }}</span>
                    <ul class="mt-0 mb-2">
                      <li>FY: {{ tm("fiscal_year") }}</li>
                      <li>CY: {{ tm("calendar_year") }}</li>
                      <li>Q:  {{ tm("quarter") }} (1-4)</li>
                    </ul>
                    <span class="fw-bold">{{ tm("note") }}</span>
                    <ul class="mt-0 mb-2">
                      <li>{{ tm("quarters_are_only_valid_for_fiscal_years") }}</li>
                      {# <li>{{ tdt("Indicators uploaded with blank period column will default to the current calendar year") }}</li> #}
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
