django-debug-toolbar==3.8.1
django-extensions==3.2.1
django-phac_aspc-helpers==0.4.3
django-versionator==1.0.0
Django==4.1.9
Faker==15.1.1
freezegun==1.2.2
gunicorn==20.1.0
ipython==8.10.0
Jinja2==3.1.2
openpyxl==3.0.10
promise==2.3
psycopg2-binary==2.9.5
python-dateutil==2.8.2
python-decouple==3.6
pytz==2022.2.1
requests==2.31.0
whitenoise==6.4.0
django-structlog==5.3.0
rules==3.3

# opentelemetry
opentelemetry-sdk==1.19.0
opentelemetry-instrumentation-django==0.40b0
opentelemetry-instrumentation-psycopg2==0.40b0
opentelemetry-resourcedetector-gcp==1.5.0a0
opentelemetry-propagator-gcp==1.5.0
opentelemetry-exporter-gcp-trace==1.5.0

# changelog/api/graphql
djangorestframework==3.14.0
pleasant-promises==1.1
graphene==3.1.1     
graphene-django==3.0.0
graphql-core-promise==3.2.3.post1   
