{% from 'generic_macros.jinja2' import date_display %}

{% macro indicator_data_table_w_submissions(data) %}
  {# assumes dimension_type and dimension_value are prefetched #}
  <table class="table">
    <thead>
      <tr>
        <th class="width-30">{{ tm("stratifier_value") }}</th>
        <th>{{ tm("indicator_value") }}</th>
        <th>{{ tm("last_modified") }}</th>
        <th>{{ tm("hso_submission") }}</th>
        <th>{{ tm("program_submission") }}</th>
      </tr>
    </thead>
    <tbody>
      {% for datum in data %}
        <tr>
          <th>
            {% if datum.dimension_type.is_literal %}
              {{ datum.literal_dimension_val }}
            {% else %}
              {{ datum.dimension_value.name }}
            {% endif %}
          </th>
          <td>{{ datum.value }}</td>
          <td>{{ date_display(datum.last_version_date) }}</td>
          <td>{{ submission_status_label(datum.submission_status(submission_type="hso") ) }}</td>
          <td>{{ submission_status_label(datum.submission_status(submission_type="program") ) }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}

{% macro submission_status_badge(submission_status) %}
  {% if submission_status == SUBMISSION_STATUSES.SUBMITTED %}
    {% set badge_type = "success" %}
  {% elif submission_status == SUBMISSION_STATUSES.NO_DATA %}
    {% set badge_type = "secondary" %}
  {% elif submission_status == SUBMISSION_STATUSES.PROGRAM_SUBMITTED %}
    {% set badge_type = "success" %}
  {% else %}
    {% set badge_type = "warning" %}
  {% endif %}
  <span class="badge bg-{{ badge_type }}">{{ submission_status_label(submission_status) }}</span>
{% endmacro %}

{% macro check_error(datum, field) %}
  {% if datum['errors'][field] %}<div class="error-msg">{{ datum['errors'][field] }}</div>{% endif %}
{% endmacro %}

{% macro check_error_class(datum, field) %}
  {% if datum['errors'][field] %}{{ 'error-preview' }}{% endif %}
{% endmacro %}

{% macro hidden_a11y_label(form_field, prefix) %}
  <label for="{{ form_field.id_for_label }}"
         aria-label="{{ prefix }}, {{ form_field.label }}"></label>
{% endmacro %}
