{% extends 'base.jinja2' %}
{% import 'breadcrumb_macros.jinja2' as bc %}

{% block content_breadcrumbs %}
  {{ bc.indicators_index() }}
  {{ bc.indicator(view.indicator) }}
  {{ bc.item(tm("trend_analysis") , None, True) }}
{% endblock %}

{% macro trend_analysis_form_field_with_errors(field) %}
  {{ field }}
  {% if field.errors %}
    <div class="error-display" id="{{ field.form.error_id_for_field(field) }}">
      {% for error in field.errors %}<strong>{{ error|escape }}</strong>{% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% macro trend_analysis_form(form) %}

  <tr class="trend-analysis-form" {% if form.errors %}{% endif %}>
    <td>{{ trend_analysis_form_field_with_errors(form.year) }}</td>
    <td>{{ trend_analysis_form_field_with_errors(form.data_point) }}</td>
    <td>{{ trend_analysis_form_field_with_errors(form.line_of_best_fit_point) }}</td>
    <td>{{ trend_analysis_form_field_with_errors(form.trend_segment) }}</td>
    <td>{{ form.trend }}</td>
    <td>{{ form.data_quality }}</td>
    <td>{{ form.unit }}</td>
    <td>{{ trend_analysis_form_field_with_errors(form.data_point_lower_ci) }}</td>
    <td>{{ trend_analysis_form_field_with_errors(form.data_point_upper_ci) }}</td>
    <td>
      {{ form.is_deleted }}
      {{ form.id }}
    </td>
  </tr>
{% endmacro %}

{% block content %}

  <div class="h2">{{ tm("trend_analysis") }} : {{ indicator.name }}</div>

  <div>
    <p class="my-4">{{ tm("trend_desctiption") }}</p>
  </div>

  <table class="d-none trend-analysis-empty-form-container">
    {{ trend_analysis_form(trend_analysis_formset.empty_form) }}
  </table>

  <form action="." method="post">
    {{ trend_analysis_formset.management_form }}
    {{ csrf_input }}

    <table class="table mt-3"
           id="trend_analysis-table"
           style="overflow-x:auto;
                  display:block">
      <thead>
        <tr>
          <th>{{ tm("year_or_range") }}</th>
          <th>{{ tm("data_point") }}</th>
          <th>{{ tm("line_of_best_fit_point") }}</th>
          <th>{{ tm("trend_segment") }}</th>
          <th>{{ tm("trend") }}</th>
          <th>{{ tm("data_quality") }}</th>
          <th>{{ tm("unit") }}</th>
          <th>{{ tm("data_lower_ci") }}</th>
          <th>{{ tm("data_upper_ci") }}</th>
          <th>{{ tm("delete") }}</th>
        </tr>
      </thead>
      <tbody id="trend-analysis-table-body"
             class="text-center trend-analysis-form-list">
        {% for form in trend_analysis_formset %}{{ trend_analysis_form(form) }}{% endfor %}
      </tbody>
    </table>
    {% if trend_analysis_formset.non_form_errors() %}
      <div class="error-div">{{ trend_analysis_formset.non_form_errors() }}</div>
    {% endif %}
    <div class="text-center py-1">
      <button type="button" class="btn btn-primary btn-sm px-4" id="add-form">{{ tm("add_data") }}</button>
    </div>
    <input type="submit"
           class="btn btn-primary float-end my-3"
           value="{{ tm('save') }}">
  </form>
  <script src="{{ static("js/manage_trend_analysis_script.js") }}" type="text/javascript"></script>

{% endblock %}
