<tr>
  <td class="fw-bold">{{ form.literal_dimension_val }}</td>
  <td>{{ form.value }}</td>
  <td>{{ form.value_unit }}</td>
  <td>{{ form.value_lower_bound }}</td>
  <td>{{ form.value_upper_bound }}</td>
  <td>{{ form.data_quality }}</td>
  <td>{{ form.single_year_timeframe }}</td>
  <td>{{ form.multi_year_timeframe }}</td>
</tr>
