{% extends 'base.jinja2' %}

{% macro age_group_form(form, approval_checkbox_class) %}
  <tr class="age-group-form">
    <td class="fw-bold">
      {% if read_only %}
        <span class="d-none">{{ form.literal_dimension_val }}</span>
        {{ form.instance.literal_dimension_val }}
      {% else %}
        <div class="mb-1">{{ form.literal_dimension_val }}</div>
      {% endif %}
      <div>
        {% if form.instance.hso_approved %}
          <div class="approved-tag">
            <span>{{ tdt("HSO") }}</span>
            <i class="bi bi-check-circle-fill"></i>
          </div>
        {% endif %}
        {% if form.instance.program_approved %}
          <div class="approved-tag">
            <span>{{ tdt("Program") }}</span>
            <i class="bi bi-check-circle-fill"></i>
          </div>
        {% endif %}
      </div>
    </td>
    <td>{{ form.value }}</td>
    <td>{{ form.value_unit }}</td>
    <td>{{ form.value_lower_bound }}</td>
    <td>{{ form.value_upper_bound }}</td>
    <td>{{ form.data_quality }}</td>
    <td>{{ form.single_year_timeframe }}</td>
    <td>{{ form.multi_year_timeframe }}</td>
    <td class="{{ approval_checkbox_class }} hso-checkbox">{{ form.hso_approved }} {{ approval_checkbox_class }}</td>
    <td class="{{ approval_checkbox_class }} program-checkbox">{{ form.program_approved }}</td>
    {% if action_type == 'edit' %}
      <td>
      {% else %}
        <td class="d-none">
        {% endif %}
        {{ form.DELETE }}
        {{ form.id }} {# this is hidden #}
      </td>
    </tr>
  {% endmacro %}

  {% block content %}
    {% if action_type == 'review' %}
      {% set approval_checkbox_class = '' %}
    {% else %}
      {% set approval_checkbox_class = 'd-none' %}
    {% endif %}
    <h1>{{ tdt("Indcator data for: ") }} {{ indicator.name }} ({{ period }})</h1>
    {% if action_type == 'edit' %}
      <table class="d-none age-group-empty-form-container">
        {# This is a form template to be used by 'add new form' feature #}
        {# Parent must be a table, otherwise browser will strip the invalid tr/td tags #}
        {{ age_group_form(age_group_formset.empty_form, approval_checkbox_class) }}
      </table>
    {% endif %}

    {% if action_type == 'review' %}
      <div class="row">
        <div class="col-12">
          <button type="button"
                  class="btn btn-primary float-end my-3 mx-2"
                  onclick="select_all_program()"
                  id="add-form">
            {{ tdt("Select All (Program)") }}
          </button>
          <button type="button"
                  class="btn btn-primary float-end my-3 mx-2"
                  onclick="select_all_hso()"
                  id="add-form">
            {{ tdt("Select All (HSO)") }}
          </button>
          {# <button type="button" class="btn btn-primary float-end my-3 " id="add-form">{{ tdt("Select All (HSO)") }}</button> #}
        </div>
      {% endif %}

      {# TODO: display form errors?  #}
      <form id="all-indicator-form" action="." method="post">
        {{ predefined_values_formset.management_form }}
        {{ age_group_formset.management_form }}
        {{ csrf_input }}
        {% for dimension_type in predefined_dimension_types %}
          <div class="card mt-5 mb-2">
            <div class="card-header">
              <div class="h3">{{ tdt("Managing data for stratifier: ") }} {{ dimension_type.name }}</div>
            </div>
 
            <table class="table mb-0" id="{{ dimension_type }}-table">
              <thead class="table-light text-center">
                <tr>
                  <th width="10%">{{ dimension_type.name }}</th>
                  <th width="9%">{{ tdt("Value") }}</th>
                  <th width="10%">{{ tdt("Value Unit") }}</th>
                  <th width="9%">{{ tdt("Value Lower Bound") }}</th>
                  <th width="9%">{{ tdt("Value Upper Bound") }}</th>
                  <th width="10%">{{ tdt("Data Quality") }}</th>
                  <th width="12%">{{ tdt("Single Year Timeframe") }}</th>
                  <th width="12%">{{ tdt("Multi Year Timeframe") }}</th>
                  <th class="{{ approval_checkbox_class }}" width="5%">
                    {{ tdt("HSO Approved") }}
                  </th>
                  <th class="{{ approval_checkbox_class }}" width="5%">
                    {{ tdt("Program Approved") }}
                  </th>
                </tr>
              </thead>
              <tbody id="{{ dimension_type }}-table-body" class="text-center">
                {% for possible_value in possible_values_by_dimension_type[dimension_type] %}
                  <tr>
                    {% set form = forms_by_dimension_value[possible_value] %}

                    <td class="fw-bold">
                      {{ possible_value.name }}
                      <div>
                        {% if form.instance.hso_approved %}
                          <div class="approved-tag">
                            <span>{{ tdt("HSO") }}</span>
                            <i class="bi bi-check-circle-fill"></i>
                          </div>
                        {% endif %}
                        {% if form.instance.program_approved %}
                          <div class="approved-tag">
                            <span>{{ tdt("Program") }}</span>
                            <i class="bi bi-check-circle-fill"></i>
                          </div>
                        {% endif %}
                      </div>
                    </td>
                    <td>
                      {{ form.value }}
                    </td>
                    <td>
                      {{ form.value_unit }}
                    </td>
                    <td>
                      {{ form.value_lower_bound }}
                    </td>
                    <td>
                      {{ form.value_upper_bound }}
                    </td>
                    <td>
                      {{ form.data_quality }}
                    </td>
                    <td>
                      {{ form.single_year_timeframe }}
                    </td>
                    <td>
                      {{ form.multi_year_timeframe }}
                    </td>
                    <td class="{{ approval_checkbox_class }} hso-checkbox">
                      {{ form.hso_approved }}
                    </td>
                    <td class="{{ approval_checkbox_class }} program-checkbox">
                      {{ form.program_approved }}
                    </td>
                  </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        {% endfor %}
        <div class="card mt-5 mb-2">
          <div class="card-header">
            <div class="h3">
              {{ tdt("Managing data for stratifier: ") }} {{ tdt("Age") }}
            </div>
          </div>
 
          <table class="table mb-0" id="{{ dimension_type }}-table">
            <thead class="table-light text-center">
              <tr>
                <th width="10%">
                  {{ tdt("Age") }}
                </th>
                <th width="9%">
                  {{ tdt("Value") }}
                </th>
                <th width="10%">
                  {{ tdt("Value Unit") }}
                </th>
                <th width="9%">
                  {{ tdt("Value Lower Bound") }}
                </th>
                <th width="9%">
                  {{ tdt("Value Upper Bound") }}
                </th>
                <th width="10%">
                  {{ tdt("Data Quality") }}
                </th>
                <th width="12%">
                  {{ tdt("Single Year Timeframe") }}
                </th>
                <th width="12%">
                  {{ tdt("Multi Year Timeframe") }}
                </th>
                <th class="{{ approval_checkbox_class }}" width="5%">
                  {{ tdt(" HSO Approved") }}
                </th>
                <th class="{{ approval_checkbox_class }}" width="5%">
                  {{ tdt("Program Approved") }}
                </th>
                {% if not read_only %}
                  <th width="5%">
                    {{ tdt("Delete") }}
                  </th>
                {% endif %}
              </tr>
            </thead>
            <tbody id="{{ dimension_type }}-table-body"
                   class="text-center age-group-form-list">
              {% for form in age_group_formset %}{{ age_group_form(form, approval_checkbox_class) }}{% endfor %}
            </tbody>
          </table>
          {% if read_only %}
            {% set add_btn_class = "ext-center py-1 d-none" %}
          {% else %}
            {% set add_btn_class = "text-center py-1" %}
          {% endif %}
          <div class="{{ add_btn_class }}">
            <button type="button" class="btn btn-primary btn-sm px-4" id="add-form">
              {{ tdt("Add another age group") }}
            </button>
          </div>
        </div>
        {% if not read_only %}
          <input type="submit"
                 class="btn btn-primary float-end my-3"
                 value="{{ tdt('Submit') }}">
        {% endif %}
        {% if action_type=='review' %}
          <a type="button"
             data-bs-toggle="modal"
             data-bs-target="#confirmApproveModal"
             class="btn btn-success float-end my-3"> {{ tdt('Approve Data') }} </a>
        {% endif %}


        <!-- Modal -->
        <div class="modal fade"
             id="confirmApproveModal"
             tabindex="-1"
             aria-labelledby="confirmApproveModalLabel"
             aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="confirmApproveModalLabel">
                  {{ tdt('Confirm Data Approval') }}
                </h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
              </div>
              <div class="modal-body">
                <p>
                  {{ tdt('Placeholder Text: What happens when you approve data') }}
                </p>
                <div class="form-check">
 
                  <input class="form-check-input" type="checkbox" id="confirmCheckbox">
                  <label class="form-check-label" for="confirmCheckbox">
                    {{ tdt('Placeholder Text: I confirm data validity and agree to approve') }}
                  </label>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  {{ tdt('Close') }}
                </button>
                <input type="submit"
                       id="confirmApproveBtn"
                       class="btn btn-primary float-end my-3"
                       value="{{ tdt('Confirm Approval') }}">
              </div>
            </div>
          </div>
        </div>
      </form>


      <script>
  // this approach is documented here https://www.brennantymrak.com/articles/django-dynamic-formsets-javascript
  // changed a few things, like using an empty-form template
  let addButton = document.querySelector("#add-form")
  addButton.addEventListener('click', addForm)
  function addForm(e){
      /*
        copies innerHTML of empty form template, inserts new prefix
        appends new form to list, updates management form's input

      */ 
      let forms = document.querySelectorAll(".age-group-form-list > .age-group-form")
      let newFormIndex = forms.length; // starts at 0
      let numForms = forms.length + 1; //total forms after addition
      let formTemplateNode = document.querySelector(".age-group-empty-form-container")
      let container = document.querySelector(".age-group-form-list")
      let totalFormsInput = document.querySelector("#id_agegroup-TOTAL_FORMS") //management form inputs

      e.preventDefault()

      let formRegex = RegExp(`agegroup-__prefix__-`,'g')
      let newFormHtml = formTemplateNode.innerHTML.replace(formRegex, `agegroup-${newFormIndex}-`)

      let newForm = document.createElement("tr")
      newForm.classList.add("age-group-form")
      newForm.innerHTML = newFormHtml;
      container.appendChild(newForm)
      //newForm.outerHTML = `<tr class='age-group-form'>${newFormHtml}</tr>`;
      
      totalFormsInput.setAttribute('value', `${numForms}`)
  }

  //disabled inputs are not submitted 
  // https://stackoverflow.com/questions/368813/html-form-readonly-select-tag-input
  $('#all-indicator-form').on('submit', function() {
    $('input, select').prop('disabled', false);
  });


  function select_all_hso(){
    let hso_checkboxes = document.querySelectorAll(".hso-checkbox > input")
    hso_checkboxes.forEach(checkbox => {
      checkbox.checked = true;
    })
  }
  function select_all_program(){
    let program_checkboxes = document.querySelectorAll(".program-checkbox > input")
    program_checkboxes.forEach(checkbox => {
      checkbox.checked = true;
    })
  }


  let checkbox = document.getElementById("confirmCheckbox");
  checkbox.checked = false;
  let approvebtn = document.getElementById("confirmApproveBtn");
  approvebtn.disabled = true;
  checkbox.addEventListener('change', function() {
    if (this.checked) {
      approvebtn.disabled = false;
    } else {
      approvebtn.disabled = true;
    }
  });
  
 
      </script>

    {% endblock %}
