{% extends 'base.jinja2' %}
{% block content %}
  <h1>{{ tdt("Indcator data for: ")}} {{ indicator.name }}</h1>
  {# forms_by_dimension_value:  {{ forms_by_dimension_value }}
  <br/>
  <br/>
  forms_by_literal_value: {{ forms_by_literal_value }}
  <br/>
  <br/>
  forms_by_indicator_data_id: {{ forms_by_indicator_data_id }}
  <br/>
  <br/>
  dimension_types" {{ dimension_types }}
  <br/>
  <br/>
  possible_values_by_dimension_type" {{ possible_values_by_dimension_type }} #}

  <form action="." method="post">
    {{ formset.management_form }}
    {{ csrf_input }}
    {% for dimension_type in dimension_types %}
      <div class="card mt-5 mb-2">
        <div class="card-header">
          <div class="h3">{{ tdt("Managing data for stratifier: ")}} {{ dimension_type.name }}</div>
        </div>
 
        <table class="table mb-0">
          <thead class="table-light text-center">
            <tr>
              <th width="10%">{{ dimension_type.name }}</th>
              <th width="9%">{{ tdt("Value")}}</th>
              <th width="10%">{{ tdt("Value Unit")}}</th>
              <th width="9%">{{ tdt("Value Lower Bound")}}</th>
              <th width="9%">{{ tdt("Value Upper Bound")}}</th>
              <th width="10%">{{ tdt("Data Quality")}}</th>
              <th width="12%">{{ tdt("Single Year Timeframe")}}</th>
              <th width="12%">{{ tdt("Multi Year Timeframe")}}</th>
            </tr>
          </thead>
          <tbody class="text-center">
            {% for possible_value in possible_values_by_dimension_type["literal_dimensions"][dimension_type] %}
              <tr>
                {% set form = forms_by_indicator_data_id[possible_value["id"]] %}
 
                <td class="fw-bold">{{ form.literal_dimension_val }}</td>
                <td>{{ form.value }}</td>
                <td>{{ form.value_unit }}</td>
                <td>{{ form.value_lower_bound }}</td>
                <td>{{ form.value_upper_bound }}</td>
                <td>{{ form.data_quality }}</td>
                <td>{{ form.single_year_timeframe }}</td>
                <td>{{ form.multi_year_timeframe }}</td>
              </tr>
            {% endfor %}
            {% for possible_value in possible_values_by_dimension_type["predefined_dimensions"][dimension_type] %}
              <tr>
                {% set form = forms_by_dimension_value[possible_value] %}
 
                <td class="fw-bold">{{ possible_value.name }}</td>
                <td>{{ form.value }}</td>
                <td>{{ form.value_unit }}</td>
                <td>{{ form.value_lower_bound }}</td>
                <td>{{ form.value_upper_bound }}</td>
                <td>{{ form.data_quality }}</td>
                <td>{{ form.single_year_timeframe }}</td>
                <td>{{ form.multi_year_timeframe }}</td>
              </tr>
            {% endfor %}
 
          </tbody>
        </table>
      </div>
    {% endfor %}
    <input type="submit"
           class="btn btn-primary float-end my-3"
           value="{{ tdt('Submit') }}">
  </form>
{% endblock %}
